body {
    background-color: red;
    flex: auto;
    padding: 0;
    background-image: none;
}
header {
    text-align: center;
}

h3 {
    text-align: center;
}
nav {
    background-color: orange;
    margin: auto;
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: row;
    
}

nav li {
    display: inline-block;
    width: 20vw;
}

nav button {
    border-radius: 15px;
    width: 80px;
    height: 30px;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
}

button {
    width: 100px;
    height: 75px;
    border-radius: 20px;
}

footer {
    background-color: green;
}

#block {
    transition: all .5s ease-in-out;
    transform-origin: left top;
    transform: scaleX(0);
    float: left;
    list-style-type: none;
    background-color: blue;
    width: 20vw;
    height: 100vh;
    text-align: center;
}

#slap {
    transition: all .5s ease-in-out;
    transform-origin: right top;
    transform: scaleX(0);
    float: right;
    list-style-type: none;
    background-color: purple;
    width: 20vw;
    height: 100vh;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    left: 35vw;
    z-index: 1;
    width: 30vw;
    height: 40vh;
    overflow: auto;
    background-color: rgba(255,255,255,0.8);
    animation: 1s fadeInOut;
}

@keyframes fadeInOut {
    from {
        background-color: rgba(255,255,255,0.0);
        color: rgba(0,0,0,0.0)
    }
    to {
        background-color: rgba(255,255,255,0.8);
        color: rgba(0,0,0,1.0)
    }
}

.modal-content {

    margin: 5% auto;
    padding: 15px;
    width: 80%;
    animation: 1s fadeInOut;
}

.close {
    color: darkred;
    margin: 12px;
    justify-self: right;
    font-size: 28px;
    font-weight: bold;
    animation: 1s fadeInOut;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#coinToss .modal-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    animation: 1s fadeInOut;
}
