body {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-image: url("../images/TitleScreen.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
}

header {
    align-self: center;
}

h3 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 20px;
}
nav {
    margin: auto;
    text-align: center;
    width: 100%;
}

nav li {
    display: inline-block;
    width: 20%;
}

nav button {
    border-radius: 15px;
    width: 250px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    height: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

button {
    width: 100px;
    height: 75px;
    border-radius: 20px;
}

footer {
    background-color: green;
}

#menu {
    transition: all .5s ease-in-out;
    transform-origin: top;
    transform: scaleY(1);
}

#playerBox{
    transition: all .5s ease-in-out;
    transform-origin: left top;
    transform: scaleX(0);
}

#block {
    transition: all .5s ease-in-out;
    transform-origin: left top;
    transform: scaleX(0);
    float: left;
    list-style-type: none;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 8%, rgba(9,87,121,0.5396533613445378) 35%, rgba(2,0,36,0) 100%);
    width: 20%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 45px;
    z-index: 2;
    position: absolute;
    padding-top: 75px;
}

#cpuBox {
    transition: all .5s ease-in-out;
    transform-origin: right top;
    transform: scaleX(0);
}

#slap {
    transition: all .5s ease-in-out;
    transform-origin: right top;
    transform: scaleX(0);
    float: right;
    list-style-type: none;
    background: rgb(255,19,0);
    background: linear-gradient(90deg, rgba(255,19,0,0) 0%, rgba(230,62,35,0.520045518207283) 65%, rgba(224,38,8,1) 92%);
    width: 20%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 45px;
    z-index: 3;
    position: absolute;
    right: 0;
    padding-top: 75px;
}

.moves li{
    margin-top: 20px;
}

button {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 35%;
    z-index: 1;
    width: 30%;
    height: 40%;
    overflow: auto;
    background-color: rgba(255,255,255,0.9);
    animation: 1.5s fadeInOut;
}

@keyframes fadeInOut {
    from {
        background-color: rgba(255,255,255,0.0);
        color: rgba(0,0,0,0.0)
    }
    to {
        background-color: rgba(255,255,255,0.9);
        color: rgba(0,0,0,1.0)
    }
}

@keyframes navInOut {
    from {
        background: linear-gradient(90deg, rgba(230,229,22,0) 12%, rgba(230,229,22,0) 25%, rgba(230,229,22,0) 50%, rgba(230,229,22,0) 75%, rgba(230,229,22,0) 88%);
    }
    to {
        background: linear-gradient(90deg, rgba(230,229,22,0.8981967787114846) 12%, rgba(230,229,22,0) 25%, rgba(230,229,22,0) 50%, rgba(230,229,22,0) 75%, rgba(230,229,22,1) 88%);
    }
}

.modal-content {
    margin: 5% auto;
    padding: 15px;
    width: 80%;
    animation: 1s fadeInOut;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close {
    color: darkred;
    margin: 12px;
    justify-self: right;
    font-size: 28px;
    font-weight: bold;
    animation: 1s fadeInOut;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.health-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    padding: 5px;
    background: #ddd;
    border-radius: 5px;
    position: relative;
}

.bar {
    background: rgb(11, 173, 38);
    width: 100%;
    height: 20px;
    position: relative;
    transition: width .5s linear;
}

.hit {
    background: rgba(235, 6, 6, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0px;
    transition: width .5s linear;
}

#healthBars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    background: linear-gradient(90deg, rgba(230,229,22,0.8981967787114846) 12%, rgba(230,229,22,0) 25%, rgba(230,229,22,0) 50%, rgba(230,229,22,0) 75%, rgba(230,229,22,1) 88%);    
    font: bold;
    font-size: 20px;
    width: 100%;
    transition: background 1s linear .5s;
}

.label {
    font-size: 20px;
    width: 100%;

    display: flex;
    justify-content: space-around;
}

#playerHealth .bar .hit { 
    right: 0;
}
#cpuHealth .bar .hit { 
    left: 0;
}

.break {
  flex-basis: 100%;
  height: 0;
}